.title {
    max-width: 500px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 2.5em;
    color: #ffffff;
    float: left;
}
.header {
    overflow: hidden;
}

.content-box {
    margin-left: 15%;
    margin-right: 40%;
    margin-bottom: 50%;
    margin-top: 8%;
}